body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-handwriting {
  font-family: 'Dancing Script', cursive;
}

.font-serif-display {
  font-family: 'Playfair Display', serif;
}

/* Custom scrollbar for the letter */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #52525b; /* zinc-600 */
  border-radius: 20px;
}